<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835662407207-l93kck7194u7dppnru49vr0i5erftpe0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835662407207-l93kck7194u7dppnru49vr0i5erftpe0</string>
	<key>API_KEY</key>
	<string>AIzaSyCs9KqDARMcdc0pFI0ed7TY2W4IK7N6fqs</string>
	<key>GCM_SENDER_ID</key>
	<string>835662407207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.knustelect.app.knustElect</string>
	<key>PROJECT_ID</key>
	<string>knust-elect</string>
	<key>STORAGE_BUCKET</key>
	<string>knust-elect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835662407207:ios:559223cce760a4af099002</string>
</dict>
</plist>