<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630189353326-o64p4ehdqv3v7a86igqfe1m6hfnkln49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630189353326-o64p4ehdqv3v7a86igqfe1m6hfnkln49</string>
	<key>API_KEY</key>
	<string>AIzaSyAM0sgCi9bIuc3eDjNsIMz4YwgON4IPKZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>630189353326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.djrequestuser.app.djUser</string>
	<key>PROJECT_ID</key>
	<string>music-request-proj300</string>
	<key>STORAGE_BUCKET</key>
	<string>music-request-proj300.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630189353326:ios:629dbe50829edc6daf397f</string>
</dict>
</plist>